.text-input {
  width: 500px;
  height: 30px;
  text-align: center;
  color: blue;
  font-size: larger;
}

.country-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}

.all-countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.country {
  width: 95%;
  margin: 1%;
  border: 2px black solid;
  display: flex;
  text-align: end;
}

img.flag {
  float: left;
  margin-right: 5%;
}